.product-preview-card {
  &__title {
    font-style: bold;
    font-style: italic;
    color: darkorange;
  }

  &__description {
    color: deepskyblue;

  }

  &__image {
    width: 10rem;
  }
   &__price {
    width: 10rem;
  }
}
