.home-page {
  @media (prefers-color-scheme: light){
    background: whitesmoke;
  
  &__title {
    color: red;
    font-family: cursive;
  }
  }
  @media (prefers-color-scheme: dark){
    background: black;
  &__products {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
}
